@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Tajawal&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    font-family: 'Playfair Display', serif;

}

.quote-container h1{
    margin-bottom: 10px;
    /* padding-bottom: 10px; */
    font-size: 25px;
    position: relative;
}

.quote-container h1::after{
    content: '';
    width: 100px;
    height: 4px;
    border-radius: 3px;
    background: rgb(128, 17, 23);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    
}

.quote-box #quote{
    font-size: 26px;
    min-height: 110px;
    margin-top: 40px;
}

.quote-box #quote::before, .quote-box #quote::after{
    content: '"';
}

.quote-box #author{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
    font-size: 15px;
}

.quote-box #author::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(128, 17, 23);
    position: absolute;
    top: 50%;
    left: -30px;
}


body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3e6e6;
}

 

.quote-container {

    width: 700px;
    background-color: #e7aaaa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 4px black;
    position: absolute;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}
 

.btn {

    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #2565aa;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 5px 2px rgb(4, 4, 39) ;
}

.btn:hover{
    transform: scale(1.2);
}
